<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/css/all.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/icon.ico">
    
</head>
<body onload="myFunction()">
    <div id="loader">
        <img src="../assets/img/small-logo.png" alt="small-logo">
    </div>
    {% include navbar-tests.html %}
    <header class="logo">
        <!-- <a href="home.html">
            <img class="qrcode" width="300" height="300" src="assets/img/qrcode.png" alt="qrcode">
        </a>
        <a href="home.html">
            <span>Medical Test</span>
        </a> -->
        <a href="../home.html">
            <img src="../assets/img/logo.png" alt="logo">
        </a>
    </header>
    <div id="myDiv" class="animate-bottom">