<div class="navbar">
    <a class="navbarbutton{% if page.url == '/home.html' %} navbarbuttonc{% endif %}" href="home.html"><span>Home</span></a>
    <a class="navbarbutton{% if page.url == '/tests.html' %} navbarbuttonc{% endif %}" href="tests.html"><span>Search</span></a>
    <a class="navbarbutton{% if page.url == '/tests-list.html' %} navbarbuttonc{% endif %}" href="tests-list.html"><span>Tests List</span></a>
    <a class="navbarbutton{% if page.url == '/about-us.html' %} navbarbuttonc{% endif %}" href="about-us.html"><span>About us</span></a>
</div>