{% include header.html %}
<div class="circle-d">
    <div class="circle1 circle1-part circle1-p1"></div>
    <div class="circle1 circle1-part circle1-p2"></div>
    <div class="circle1 circle1-part circle1-p3"></div>
    <div class="circle1 circle1-part circle1-p4"></div>
    <div class="circle1 circle1-part circle1-p5"></div>
    <div class="circle2"></div>
    <a href="profiles.html">
        <div id="c-button1" class="c-button c-button-abbs c-button1">
            Profiles
        </div>
        <img class="c-button-abbs c-button1-img" width="50" height="50" src="assets/img/profiles.png" alt="profiles">
    </a>
    <a href="tests-list.html">
        <div class="c-button c-button-abbs c-button2">
            Tests List
        </div>
        <img class="c-button-abbs c-button2-img" width="50" height="50" src="assets/img/test-guide.png" alt="test-guide">
    </a>
    <a href="doctors.html">
        <div class="c-button c-button-abbs c-button3">
            Doctors
        </div>
        <img class="c-button-abbs c-button3-img" width="50" height="50" src="assets/img/people-150.png" alt="people">
    </a>
    <a href="abbreviation.html">
        <div class="c-button c-button-abbs c-button4">
            Abbreviation
        </div>
        <img class="c-button-abbs c-button4-img" width="50" height="50" src="assets/img/abbreviation.png" alt="abbreviation">
    </a>
    <a href="instructions.html">
        <div class="c-button c-button-abbs c-button5">
            Instructions
        </div>
        <img class="c-button-abbs c-button5-img" width="50" height="50" src="assets/img/instructions.png" alt="instructions">
    </a>
    <a href="tests.html">
        <div class="c2-button c-button-abbs c-button6">
            Tests
        </div>
        <img class="c-button-abbs c-button6-img" width="100" height="100" src="assets/img/tests.png" alt="tests">
    </a>
</div>
{% include footer.html %}