{% include header-tests.html %}
<style>
    thead {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    td {
        padding: 5px;
        text-align: center;
        border: 1px solid var(--main-color);
    }
</style>
<article>
    <header>
        <h1>
            <span>{{page.n}}{% if page.a %}<br><span class="test-abbrev">({{page.a}})</span>{% endif %}</span>
        </h1>
    </header>

    <section class="pbox">
        {{content}}
    </section>
</article>
{% include footer-tests.html %}